/* ? ********************* Font Family ********************* */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ? ********************* Base ********************* */
:root {
    --primary-color: #0076de;
    --white-color: #fff;
    --black-color: #333;
    --gray-color: #f6f8fa;
    --label-color: #64b1f5;
    --yellow-color: #ffd723
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: auto;
    width: 100%;
    
}

input, button, a, textarea {
    font-family: inherit;
}

h1 {
    line-height: 1.5;
}

/* ? ********************* loading page ********************* */
.preloader2{
    width: 100%;
    height: 100%;
    background: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .5;
}
.preloader{
    width: 100%;
    height: 100vh;
    background: var(--white-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5;
}
.dot {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
}
.dot1{
	background-color: var(--primary-color);
	animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2{
	background-color: var(--yellow-color);
	animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3{
	background-color: var(--black-color);
	animation: jump-up 0.6s 0.3s linear infinite;
}

@keyframes jump-up{
	50%{
		transform: translate(0,15px);
	}
}

/* ? ********************* start header section ********************* */
.header {
    width: 100%;
    height: 100vh;
    background-image: url(./img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2.5rem;
    z-index: 10;
    color: var(--white-color);
    background: transparent;
}

.scroll-header {
    background: var(--black-color);
}

.navbar .logo {
    cursor: pointer;
    color: var(--white-color);
}

.navbar-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    display: none;
}

.navbar-menu a {
    color: var(--white-color);
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.menu-toggle .bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    transition: all .3s ease-in-out;
    background-color: var(--white-color);
    cursor: pointer;
}

.header .header-title {
    position: absolute;
    top: 10rem;
    left: 2.5rem;
    letter-spacing: 3px;
    font-size: 56px;
    font-weight: bolder;
    color: var(--white-color);
    text-shadow: 4px 2px 0px rgb(0 0 0 / 20%);
}
.header-title span {
    color: var(--primary-color);
}

/* ? ********************* start main section ********************* */
/* start input search */
.search-wrapper {
    width: 60%;
    margin: auto;
    min-width: 300px;
    height: 3.5rem;
    position: relative;
}
.search-box {
    width: 100%;
    background-color: var(--gray-color);
    box-shadow: rgba(2, 11, 20, .2) 0px 5px 15px;
    position: absolute;
    top: -45%;
    height: 100%;
    width: 100%;
}

.search-card {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: .5rem;
}

.search-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: .5rem;
}

.search-btn {
    width: 200px;
    background: var(--primary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

/* ? ********************* start footer section ********************* */
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 3rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-content h3,
.footer-content h4 {
    line-height: 3;
    color: var(--yellow-color);
}

.footer-content p {
    max-width: 400px;
    line-height: 1.5;
}

.footer-content a {
    text-decoration: none;
    color: var(--gray-color);
    line-height: 2;
}

.footer-content a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    margin-right: 10px;
    background: var(--gray-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 19px;
}
.social-media a i {
    color: var(--primary-color);
}

.copy-right {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: var(--gray-color);
    color: var(--primary-color);
}

/* ? ********************* start scroll up ********************* */
.scroll-up{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--yellow-color);
    opacity: .8;
    border-radius: 0.4rem;
    z-index: 10;
    transition: all .4s;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.scroll-up-icon{
    font-size: 1.5rem;
    color: #fff;
}

/* show scroll */
.show-scroll{
    bottom: 5rem;
}

/* ? ********************* API SECTION ********************* */

.results {
    min-height: 30vh;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.jobs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.jobs-list {
    width: 43%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.job {
    width: 100%;
    height: 300px;
    background-color: #F4F4F5;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(173, 170, 170);
    padding: 16px;
    cursor: pointer;
}

.details-container {
    display: flex;
    flex-direction: row;
}

.details {
    display: flex;
    flex-direction: column;
}

.companyimg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin-right: 15px;
}

.company-img {
    width: 100%;
    object-fit: contain;
}

.job-title {
    font-weight: 600;
}

.company-name {
    color: #6e46ae;
    font-weight: 600;
    font-size: 15px;
}

.company-location {
    color: #757575;
    font-size: 15px;

}

.description-container {
    margin-top: 20px;
}

.job-description {
    font-size: 14px;
    color: rgb(87, 82, 82);
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.job-dates-apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 13.5px;
}

.job-date {
    color: rgb(87, 82, 82);
}

.btn {
    all: unset;
    cursor: pointer;
    background-color: #6e46ae;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #6333af;
}

.btn:active {
    transform: translateY(1px);
    background-color: rgb(108, 63, 180);
}

.job-apply {
    margin-right: 15px;
}
/* ? ********************* start Job View Section ********************* */
.job-view {
    width: 57%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
}

.view-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-companyimg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    margin-right: 20px;
}

.view-company-img {
    width: 100%;
    min-width: 70px;
    object-fit: contain;

}

.view-details {
    display: flex;
    flex-direction: column;
}

.view-job-title {
    font-weight: 600;
    margin-top: 10px;
    font-size: 25px;
}

.view-company-name {
    color: #6e46ae;
    font-weight: 600;
    font-size: 20px;
    
}

.view-company-location {
    color: #757575;
    font-size: 19px;

}

.view-apply {
    align-self: flex-end;
    margin-left: 23%;
    margin-bottom: 2.5%;
    white-space: nowrap;

}

.view-additional-details {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.job-type {
    font-size: 18px;
    margin-bottom: 10px;
}

.detail-line {
    width: 100%;
    margin-bottom: 10px;
}

.details-title {
    margin-bottom: 10px;
}

.job-view-elements {
    display: none;
}

.jobs-container {
    display: none;
}

.animation {
    animation: appearing-animation .8s ease-in-out;
}

.slow-animation {
    animation: slow-appearing-animation .6s ease-in-out;
}

.error-not-found {
    display: none;
    text-align: center;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

/* Animations */

@keyframes appearing-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slow-appearing-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ? ********************* media query ********************* */
@media (max-width: 768px) { 
    .menu-toggle, .close-icon{
        display: block;
        font-size: 24px;
    }
    .close-icon{
        padding: 1rem 2.5rem;
        text-align: right;
    }
    .navbar-menu {
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        background: #333;
        right: -100%;
        display: inline-block;
        transition: all .3s;
    }
    .show-menu{
        right: 0;
    }

    .navbar-menu a {
        display: block;
        text-align: center;
        padding: 24px 0;
    }

    .navbar-menu a:hover {
        background: #444;
    }

    .header .header-title {
        font-size: 28px;
    }

    /* ? ********************* start result find job ********************* */
    .jobs-container {
        flex-direction: column;
    }

    .job {
        height: 100%;
    }
    .jobs-list {
        width: 100%;
        height: 100%;
        order: 2;
    }
    .job-view {
        width: 100%;
        overflow-y: scroll;
    }
    .view-details-container {
        flex-direction: column;
    }
    .view-companyimg-container {
        width: 80px;
        height: 80px;
    }
    .view-job-title, 
    .view-company-name {
        font-size: 20px;
    }
    .view-company-location {
        font-size: 17px;
    }
    .job-type,
    .view-job-description {
        font-size: 15px;
    }
    .details-container {
        align-items: center;
    }
    .companyimg-container {
        width: 50px;
        height: 50px;
    }

    /* ********************* Copyright ********************* */
    .copy-right {
        font-size: 12px;
    }
}